.drawer {
    border-radius: 0;
    height: 100%;
    left: 0;
    max-width: 650px;
    position: fixed;
    top: 0;
    width: 100%;
}

.drawer-animated {
    transform: translateX(-100%);
}

.drawer-animated-slide-in {
    animation: slide-in 0.3s forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}