/* Overlay */
.overlay {
    background: rgb(0 0 0 / 50%);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
    width: 100%;
    z-index: 9;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}

/* Drawer */
.drawer {
    background-color: #fff;
    box-shadow: -2px 0 5px rgb(0 0 0 / 50%);
    height: 100%;
    max-width: 90vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 10;
}

/* Drawer for right position */
.drawer.right {
    right: 0;
    transform: translateX(100%);
}

.drawer.right.open {
    transform: translateX(0);
}

/* Drawer for left position */
.drawer.left {
    left: 0;
    transform: translateX(-100%);
}

.drawer.left.open {
    transform: translateX(0);
}

/* Sizes */

.drawer-md {
    right: -24em;
    width: 24em;
}

.drawer-lg {
    right: -32em;
    width: 32em;
}

.drawer-xl {
    right: -40em;
    width: 40em;
}

.drawer.open {
    right: 0;
}

.header {
    align-items: center;
    display: flex;
    gap: .25em;
    padding: .5em 1em;
}


.left .header {
    flex-direction: row;
    justify-content: end;
}

.right .header {
    flex-direction: row-reverse;
    justify-content: start;
}

.title {
    text-align: left;
    width: 100%;
}

/* Close Button */
.close-btn {
    border: none;
    color: var(--foreground);
    cursor: pointer;
    margin: 0.5em;
}

.drawer-content {
    height: 100%;
    padding: 20px;
}