.item {
    position: relative;
}

.item::before {
    background-color: var(--primary);
    bottom: 0;
    content: '';
    height: 1.5px;
    left: 0;
    position: absolute;
    transition: width 0.3s ease;
    width: 0;
}

.item:hover::before {
    width: 100%;
}