@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #fff;
  --foreground: #171717;
  --primary: #7828C8;
  --primary-foreground: #FFF;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #7828C8;
    --primary-foreground: #FFF;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  color: var(--primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}