.search {
    border-bottom: 1px solid var(--primary);
    border-left: 6px solid var(--primary);
    border-top: 1px solid var(--primary);
    outline: none;
    transition: border-bottom-width 0.3s ease;
}

.search::placeholder {
    color: var(--foreground);
    opacity: .8;
}

.button {
    background-color: var(--primary) !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    color: var(--primary-foreground) !important;
}